*{
    margin: 0;
    padding: 0;
}
.hero{
   text-align: center;
   padding: 30px;
  
}
.hero h1{
    padding: 10px;
    font-size: 50px;
}
.main{
    background-color: #38ffe8;
    width: 330px;
    height: 450px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    padding-top: 30px;
}
.main input{
border-radius: 30px;
height: 50px;
width: 320px;
border-top: none;
border-left: none;
border-right: none;
outline: none;
box-shadow: 0 0 20px 9px  #a49901;
padding-left: 20px;


}

table{
 padding: 10px ;
}
table tr td button{
    padding: 20px 30px;
    border-radius: 50%;
    cursor: pointer;
   
}
button{
    background-color: #352e30;
    color: #fff;
}
